[submodule "dependency/glfw"]
	path = dependency/glfw
	url = https://github.com/glfw/glfw
[submodule "dependency/spdlog"]
	path = dependency/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dependency/tinyexr"]
	path = dependency/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "dependency/stduuid"]
	path = dependency/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "dependency/glm"]
	path = dependency/glm
	url = https://github.com/g-truc/glm
[submodule "dependency/json"]
	path = dependency/json
	url = https://github.com/nlohmann/json
[submodule "dependency/lz4"]
	path = dependency/lz4
	url = https://github.com/lz4/lz4
[submodule "dependency/vma"]
	path = dependency/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dependency/stb"]
	path = dependency/stb
	url = https://github.com/nothings/stb
[submodule "dependency/rttr"]
	path = dependency/rttr
	url = https://github.com/rttrorg/rttr
[submodule "dependency/inipp"]
	path = dependency/inipp
	url = https://github.com/mcmtroffaes/inipp
[submodule "dependency/utfcpp"]
	path = dependency/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "dependency/iconFontcppHeaders"]
	path = dependency/iconFontcppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "dependency/nativefiledialogs"]
	path = dependency/nativefiledialogs
	url = https://github.com/qiutang98/nativefiledialog
[submodule "dependency/cereal"]
	path = dependency/cereal
	url = https://github.com/USCiLab/cereal
[submodule "dependency/assimp"]
	path = dependency/assimp
	url = https://github.com/assimp/assimp
[submodule "dependency/fsr2"]
	path = dependency/fsr2
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR2
[submodule "dependency/entt"]
	path = dependency/entt
	url = https://github.com/skypjack/entt
[submodule "dependency/bullet3"]
	path = dependency/bullet3
	url = https://github.com/bulletphysics/bullet3
